.container {
    flex-flow: column wrap;
    overflow: none;
    flex: non3;
    min-height: 300px;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.Page {
        width: 100%;
        height: 100%;
        text-align: center;   
}