* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0px auto;
    display: inline-block;
    height: 40px;
    width: 80%;
    left:10%;
    right:10%;
    top:0;
    position: fixed;
    border-radius: 12px; 
    padding: 0px 20px;
}
header:hover {
    background-color: #96918f69;
    box-shadow: 2px 2px 5px 1px #55514f;
}

.home {
    height: 38px;
    width: 38px;
    margin: 2px auto;
    background-color: #1f1c1b31;
    margin-left: 8px; 
    border-radius: 10px; 
    box-shadow: 1px 1px 10px 1px #444140;
}

.home:hover {
    background-color:  #444140;
}
.mark a{
    float: right;
}
.mark {
    margin-bottom: 10% ;
}
.home img {
    width: 90%;
    height: auto;
}


#Project a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow:1px 1px 3px black;
    font-weight: 800;
    top:4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Project {
    margin: 7px 30px 7px auto;
    float: left;
    border-radius: 10px;
    padding: 2px;
    width: auto;
    height: 25px; 
}


#Project:hover {
    background-color:  #77716f;
}